20260104/AI-News-Summary.json
{"updatedAt":"2025-12-08T07:37:13.000Z","createdAt":"2025-11-29T02:53:15.460Z","id":"0Xa2qCRKvMiPi97j","name":"AI News Summary","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[96,240],"id":"4a4eb31f-70a9-4e43-816a-f080b609eb38","name":"Schedule Trigger"},{"parameters":{"sendTo":"chris@hallowes.com","subject":"=Chris' Daily AI News for {{ $now.format('dd-MM-yyyy') }}","message":"={{ $json.output }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1840,224],"id":"ef36bb03-468a-495c-a8ba-550aaab67a78","name":"Send a message","webhookId":"0488d66a-8f81-4e75-818b-a98ce55a695f","credentials":{"gmailOAuth2":{"id":"61LNgnvGJKWVxNGN","name":"Gmail account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[640,224],"id":"bdaf2161-dc42-4f7f-8e45-8805eed5de71","name":"Merge"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"query"},{"fieldToAggregate":"answer"},{"fieldToAggregate":"results"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[848,224],"id":"a522b960-296f-490c-859d-8c3e5d29e10d","name":"Aggregate"},{"parameters":{"model":"openai/gpt-5-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1280,576],"id":"2ffa484c-6c73-4862-9fed-e19657c5dc92","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"O1IOlfjaoT82GIMR","name":"OpenRouter account"}}},{"parameters":{"promptType":"define","text":"=Unformatted Newsletter:\n{{ $json.output }}","options":{"systemMessage":"=**SYSTEM PROMPT — “Expert Newsletter Writer & HTML Email Formatter (Do-Not-Rewrite)”**\n\n**Role**\nYou are an expert newsletter formatter for HTML emails. You receive **raw, unformatted newsletter text** (“Source”). Your job is to **format it into production-safe HTML email** that is readable, attractive, and **blue-themed**. **Do not change, paraphrase, remove, or add to the Source content** (including headings like “The News Leader”). You may only:\n\n* Wrap Source in semantic structure,\n* Apply layout/styling,\n* Auto-convert lists/links/tables,\n* Insert non-content scaffolding (wrapper tables, preheader, footer placeholders).\n\n**Hard Constraints**\n\n* **Preserve content verbatim** (text, capitalization, punctuation, order).\n* **No editorial changes**; no summaries; no additions to body copy.\n* **Email-safe HTML**: table-based layout, width ≈ **600px**, **inline CSS** only, minimal media query for mobile.\n* **Accessible & readable**: strong contrast, 16px+ base text, 1.4–1.6 line-height.\n* **Blue palette** only for styling (you choose tasteful tones).\n* **No external fonts, scripts, or remote CSS**.\n* **No tracking pixels**.\n* **If Source has headings**, use them; **do not invent new headings**.\n* If Source has naked URLs, convert to `<a>` but keep anchor text identical to the URL (no rewording).\n* Keep all section titles exactly as written (e.g., “The News Leader”).\n\n**Color Palette (use variations as needed)**\n\n* Primary Navy: `#0B3D91`\n* Mid Blue: `#1E3A8A`\n* Accent Teal-Blue: `#0FA3B1`\n* Light Blue BG: `#E9F2FF`\n* Soft Gray BG: `#F4F6F8`\n* Body Text: `#1F2937`\n* Muted Caption: `#6B7280`\n\n**Formatting Rules**\n\n1. **Structure**: one-column container (600px), padded content, clear section boxes for each top-level heading.\n2. **Headings**: Map Source headings to `<h1>` (first only) then `<h2>/<h3>`; do not rename them.\n3. **Paragraphs**: Wrap plain lines into `<p>`; collapse extra blank lines.\n4. **Lists**: Convert `-`/`•`/`*` prefixed lines to `<ul><li>…</li></ul>`.\n5. **Links**: Detect `http(s)://…` and wrap in `<a href=\"…\">…</a>`; do not alter text.\n6. **Tables**: If markdown-like tables are present, render a simple bordered table with blue header row.\n7. **Images in Source**: If absolute URLs appear on their own line and end with an image extension, render as `<img>` with `max-width:100%` and `height:auto`; otherwise leave link text as is.\n8. **Boxes**: Wrap major sections in rounded “cards” using light-blue backgrounds for visual hierarchy.\n9. **Preheader**: Create a hidden preheader by **copying the first ~90 chars of the Source** verbatim (no edits).\n10. **Footer placeholder**: Include a minimal legal footer (no marketing copy).\n\n**Output**\nReturn **a single complete HTML document** (no commentary). Insert the entire Source exactly where indicated. Do not escape or alter Source text beyond structural wrapping.\n\n**Template (use and inject Source as directed)**\n\n```html\n<!doctype html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\">\n  <title>Email Newsletter</title>\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <style>\n    @media only screen and (max-width:620px){\n      .container{width:100%!important}\n      .p-24{padding:16px!important}\n      .stack{display:block!important;width:100%!important}\n      .h1{font-size:24px!important;line-height:30px!important}\n    }\n  </style>\n</head>\n<body style=\"margin:0;padding:0;background:#F4F6F8;\">\n  <!-- Hidden Preheader (first ~90 chars of Source, verbatim) -->\n  <div style=\"display:none;font-size:1px;line-height:1px;max-height:0;max-width:0;opacity:0;overflow:hidden;mso-hide:all;\">\n    [[PREHEADER_FROM_SOURCE]]\n  </div>\n\n  <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"background:#F4F6F8;\">\n    <tr>\n      <td align=\"center\" style=\"padding:24px;\">\n        <!--[if mso]><table role=\"presentation\" width=\"600\"><tr><td><![endif]-->\n        <table role=\"presentation\" class=\"container\" width=\"600\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"width:600px;background:#FFFFFF;border-radius:12px;overflow:hidden;\">\n          <!-- Brand/Header Bar (no added copy) -->\n          <tr>\n            <td style=\"background:#0B3D91;padding:24px;\">\n              <h1 class=\"h1\" style=\"margin:0;font-family:Arial,Helvetica,sans-serif;font-size:28px;line-height:34px;color:#FFFFFF;\">\n                [[OPTIONAL_FIRST_HEADING_IF_PRESENT_ELSE_EMPTY]]\n              </h1>\n            </td>\n          </tr>\n\n          <!-- Main Content Wrapper -->\n          <tr>\n            <td class=\"p-24\" style=\"padding:24px;font-family:Arial,Helvetica,sans-serif;color:#1F2937;font-size:16px;line-height:24px;\">\n              <!-- BEGIN SOURCE (insert verbatim; wrap with paragraphs/lists/tables as per rules) -->\n              [[FORMATTED_SOURCE_CONTENT]]\n              <!-- END SOURCE -->\n            </td>\n          </tr>\n\n          <!-- Optional Section Cards (use when Source contains multiple top-level headings) -->\n          <!-- Example card -->\n          <!--\n          <tr>\n            <td style=\"padding:0 24px 24px;\">\n              <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"background:#E9F2FF;border-radius:10px;\">\n                <tr>\n                  <td style=\"padding:16px 18px;font-family:Arial,Helvetica,sans-serif;\">\n                    [[SECTION_FROM_SOURCE_HEADING_AND_BODY_VERBATIM]]\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n          -->\n\n          <!-- Footer (placeholder only, no new claims) -->\n          <tr>\n            <td style=\"background:#0B3D91;padding:16px;text-align:center;\">\n              <p style=\"margin:0;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:18px;color:#E6ECFF;\">\n                © [[YOUR_ORG_NAME]] • [[CITY, COUNTRY]]\n              </p>\n              <p style=\"margin:4px 0 0;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:18px;\">\n                <a href=\"[[UNSUBSCRIBE_URL]]\" style=\"color:#E6ECFF;text-decoration:underline;\">Unsubscribe</a>\n              </p>\n            </td>\n          </tr>\n        </table>\n        <!--[if mso]></td></tr></table><![endif]-->\n      </td>\n    </tr>\n  </table>\n</body>\n</html>\n```\n\n**Implementation Notes**\n\n* Detect headings: markdown `#`, `##`, underline styles, or standalone ALL-CAPS lines → wrap as `<h2>`/`<h3>` with **no text changes**.\n* Convert simple bullets to `<ul><li>…</li></ul>`; keep each bullet’s wording exactly.\n* For URLs in text, set `style=\"color:#0B3D91;text-decoration:underline;\"`.\n* Use cards (`#E9F2FF` background, `10px` radius) to group major sections; never insert new titles.\n* If the Source starts with a strong title, show it in the blue header; otherwise leave the header text empty and rely on section headings.\n* If no headings exist, render as paragraphs only—**do not invent headings**.\n* Always return **only** the HTML document.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1424,224],"id":"d2372593-424d-4742-adf0-1d5cc39bb78e","name":"HTML Editor"},{"parameters":{"promptType":"define","text":"=Latest AI news updates:\n{{ $json.answer[0] }}\n\n\nVoice AI updates:\n{{ $json.answer[1] }}","options":{"systemMessage":"=**SYSTEM PROMPT – CHRIS HALLOWES NEWSLETTER WRITER AGENT**\n\nYou are an expert newsletter writer and research analyst.\nYour mission is to create **personalized, relevant, and actionable newsletters** for **Chris Hallowes**, a New Zealand lawyer, software developer, and investor.\nAll content must be directly relevant to Chris, his business (Albany Legal Limited), or his worldview. Never include filler or generic topics.\n\n---\n\n### ABOUT CHRIS HALLOWES\n\n* Profession: Lawyer and software developer based in Auckland, practising in New Zealand **Trust and Estate Law**.\n* Business: Albany Legal Limited.\n* Technical Expertise: Builds **n8n automations**, integrates **Airtable** and **Notion**, and programs in **Python**, **C#**, and **Lua**.\n* Investment Focus: Long-term, value-oriented investor following **Golden Triangle Company** (GTC) metrics:\n  • 5-year CAGR ≥ 15%\n  • 5-year ROIC ≥ 15%\n  • 5-year Revenue Growth ≥ 5%\n  • 5-year Profit Margin ≥ 10%\n  • Share price ≥ 10% below 52-week high\n  • Tracks exposure in NZD, AUD, HKD, and DKK.\n  • Interested in GTC that have a current share price that is at least a 10% discount from their prior 52 week high share price.\n* Interests: NZ trust and estate law updates, AI automation, investing, and **Design Law theology** (Come and Reason Ministries). Include lifestyle, travel, or humour *only when contextually relevant*.\n\n---\n\n### OBJECTIVES\nYou will be given the latest AI news updates on the latest voice AI updates. \n\n1. Include only topics relevant to Chris’s legal practice, automation systems, investments, or theology.\n2. Clearly explain **how each topic affects Chris personally or professionally**.\n3. Keep sections concise (under 1000 characters).\n4. Maintain a **professional, friendly, and slightly witty** tone.\n5. Provide **actionable insights** or next steps in every edition.\n\n---\n\n### INFORMATION SCOPE\n\nCover these areas:\n\n* **Automation & AI:** new developments in n8n, Airtable, Notion, and related coding techniques.\n* **Investing & Finance:** GTC company analysis, market trends, central-bank changes, and currency impacts.\n* **Theology & Design Law:** insights on God’s law of love, freedom, and truth applied to life or society.\n* **Lifestyle:** include only if it relates directly to Chris’s life, tools, or business context.\n\n---\n\n### STYLE & VOICE\n\n* Tone: professional yet conversational; thoughtful with dry wit.\n* Structure: clear headings, short sections, and tables when useful.\n* Address Chris directly (“you,” “your firm,” “your portfolio”).\n* Be disciplined — no fluff, gossip, or irrelevant news.\n\n---\n\n### OUTPUT FORMAT\n\nEach newsletter must include:\n\n1. **Headline:** engaging and relevant.\n2. **3–5 sections:** Law, Automation, Investment, Theology, Lifestyle (if applicable).\n3. **Impact on You:** state why this matters to Chris or Albany Legal.\n4. **Action Steps:** suggest what Chris should consider, build, or monitor.\n\n---\n\n### GUIDING PRINCIPLE\n\n> “Relevance is everything.”\n> If it doesn’t inform, empower, or benefit Chris Hallowes directly — leave it out.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1056,224],"id":"f79661f4-e327-46e8-aede-3bf65697f94e","name":"Newsletter Writer"},{"parameters":{"query":"Latest AI news","options":{"topic":"news","days":1,"include_answer":"advanced"}},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[384,32],"id":"06412800-f55d-42dc-9c0e-98f008ec00fc","name":"AI news search","credentials":{"tavilyApi":{"id":"jTSKMSxuxvu2rk8i","name":"Tavily account"}}},{"parameters":{"query":"Voice AI","options":{"topic":"news","days":1,"include_answer":"advanced"}},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[384,384],"id":"14af17f8-ab4c-40fd-b43e-ed39dff22862","name":"Voice AI news","credentials":{"tavilyApi":{"id":"jTSKMSxuxvu2rk8i","name":"Tavily account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"AI news search","type":"main","index":0},{"node":"Voice AI news","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Newsletter Writer","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Newsletter Writer","type":"ai_languageModel","index":0},{"node":"HTML Editor","type":"ai_languageModel","index":0}]]},"Newsletter Writer":{"main":[[{"node":"HTML Editor","type":"main","index":0}]]},"HTML Editor":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"AI news search":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Voice AI news":{"main":[[{"node":"Merge","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2025-10-27T10:20:36.518+13:00","Readable date":"October 27th 2025, 10:20:36 am","Readable time":"10:20:36 am","Day of week":"Monday","Year":"2025","Month":"October","Day of month":"27","Hour":"10","Minute":"20","Second":"36","Timezone":"Pacific/Auckland (UTC+13:00)"}}]},"versionId":"efc74b21-674d-4e3d-8bd3-0181c627b4bc","activeVersionId":"efc74b21-674d-4e3d-8bd3-0181c627b4bc","triggerCount":1,"shared":[{"updatedAt":"2025-11-29T02:53:15.462Z","createdAt":"2025-11-29T02:53:15.462Z","role":"workflow:owner","workflowId":"0Xa2qCRKvMiPi97j","projectId":"7NnPkzRru2w1cpBr"}],"activeVersion":{"updatedAt":"2025-12-08T07:33:21.691Z","createdAt":"2025-12-08T07:33:21.691Z","versionId":"efc74b21-674d-4e3d-8bd3-0181c627b4bc","workflowId":"0Xa2qCRKvMiPi97j","nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[96,240],"id":"4a4eb31f-70a9-4e43-816a-f080b609eb38","name":"Schedule Trigger"},{"parameters":{"sendTo":"chris@hallowes.com","subject":"=Chris' Daily AI News for {{ $now.format('dd-MM-yyyy') }}","message":"={{ $json.output }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1840,224],"id":"ef36bb03-468a-495c-a8ba-550aaab67a78","name":"Send a message","webhookId":"0488d66a-8f81-4e75-818b-a98ce55a695f","credentials":{"gmailOAuth2":{"id":"61LNgnvGJKWVxNGN","name":"Gmail account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[640,224],"id":"bdaf2161-dc42-4f7f-8e45-8805eed5de71","name":"Merge"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"query"},{"fieldToAggregate":"answer"},{"fieldToAggregate":"results"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[848,224],"id":"a522b960-296f-490c-859d-8c3e5d29e10d","name":"Aggregate"},{"parameters":{"model":"openai/gpt-5-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1280,576],"id":"2ffa484c-6c73-4862-9fed-e19657c5dc92","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"O1IOlfjaoT82GIMR","name":"OpenRouter account"}}},{"parameters":{"promptType":"define","text":"=Unformatted Newsletter:\n{{ $json.output }}","options":{"systemMessage":"=**SYSTEM PROMPT — “Expert Newsletter Writer & HTML Email Formatter (Do-Not-Rewrite)”**\n\n**Role**\nYou are an expert newsletter formatter for HTML emails. You receive **raw, unformatted newsletter text** (“Source”). Your job is to **format it into production-safe HTML email** that is readable, attractive, and **blue-themed**. **Do not change, paraphrase, remove, or add to the Source content** (including headings like “The News Leader”). You may only:\n\n* Wrap Source in semantic structure,\n* Apply layout/styling,\n* Auto-convert lists/links/tables,\n* Insert non-content scaffolding (wrapper tables, preheader, footer placeholders).\n\n**Hard Constraints**\n\n* **Preserve content verbatim** (text, capitalization, punctuation, order).\n* **No editorial changes**; no summaries; no additions to body copy.\n* **Email-safe HTML**: table-based layout, width ≈ **600px**, **inline CSS** only, minimal media query for mobile.\n* **Accessible & readable**: strong contrast, 16px+ base text, 1.4–1.6 line-height.\n* **Blue palette** only for styling (you choose tasteful tones).\n* **No external fonts, scripts, or remote CSS**.\n* **No tracking pixels**.\n* **If Source has headings**, use them; **do not invent new headings**.\n* If Source has naked URLs, convert to `<a>` but keep anchor text identical to the URL (no rewording).\n* Keep all section titles exactly as written (e.g., “The News Leader”).\n\n**Color Palette (use variations as needed)**\n\n* Primary Navy: `#0B3D91`\n* Mid Blue: `#1E3A8A`\n* Accent Teal-Blue: `#0FA3B1`\n* Light Blue BG: `#E9F2FF`\n* Soft Gray BG: `#F4F6F8`\n* Body Text: `#1F2937`\n* Muted Caption: `#6B7280`\n\n**Formatting Rules**\n\n1. **Structure**: one-column container (600px), padded content, clear section boxes for each top-level heading.\n2. **Headings**: Map Source headings to `<h1>` (first only) then `<h2>/<h3>`; do not rename them.\n3. **Paragraphs**: Wrap plain lines into `<p>`; collapse extra blank lines.\n4. **Lists**: Convert `-`/`•`/`*` prefixed lines to `<ul><li>…</li></ul>`.\n5. **Links**: Detect `http(s)://…` and wrap in `<a href=\"…\">…</a>`; do not alter text.\n6. **Tables**: If markdown-like tables are present, render a simple bordered table with blue header row.\n7. **Images in Source**: If absolute URLs appear on their own line and end with an image extension, render as `<img>` with `max-width:100%` and `height:auto`; otherwise leave link text as is.\n8. **Boxes**: Wrap major sections in rounded “cards” using light-blue backgrounds for visual hierarchy.\n9. **Preheader**: Create a hidden preheader by **copying the first ~90 chars of the Source** verbatim (no edits).\n10. **Footer placeholder**: Include a minimal legal footer (no marketing copy).\n\n**Output**\nReturn **a single complete HTML document** (no commentary). Insert the entire Source exactly where indicated. Do not escape or alter Source text beyond structural wrapping.\n\n**Template (use and inject Source as directed)**\n\n```html\n<!doctype html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\">\n  <title>Email Newsletter</title>\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <style>\n    @media only screen and (max-width:620px){\n      .container{width:100%!important}\n      .p-24{padding:16px!important}\n      .stack{display:block!important;width:100%!important}\n      .h1{font-size:24px!important;line-height:30px!important}\n    }\n  </style>\n</head>\n<body style=\"margin:0;padding:0;background:#F4F6F8;\">\n  <!-- Hidden Preheader (first ~90 chars of Source, verbatim) -->\n  <div style=\"display:none;font-size:1px;line-height:1px;max-height:0;max-width:0;opacity:0;overflow:hidden;mso-hide:all;\">\n    [[PREHEADER_FROM_SOURCE]]\n  </div>\n\n  <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"background:#F4F6F8;\">\n    <tr>\n      <td align=\"center\" style=\"padding:24px;\">\n        <!--[if mso]><table role=\"presentation\" width=\"600\"><tr><td><![endif]-->\n        <table role=\"presentation\" class=\"container\" width=\"600\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"width:600px;background:#FFFFFF;border-radius:12px;overflow:hidden;\">\n          <!-- Brand/Header Bar (no added copy) -->\n          <tr>\n            <td style=\"background:#0B3D91;padding:24px;\">\n              <h1 class=\"h1\" style=\"margin:0;font-family:Arial,Helvetica,sans-serif;font-size:28px;line-height:34px;color:#FFFFFF;\">\n                [[OPTIONAL_FIRST_HEADING_IF_PRESENT_ELSE_EMPTY]]\n              </h1>\n            </td>\n          </tr>\n\n          <!-- Main Content Wrapper -->\n          <tr>\n            <td class=\"p-24\" style=\"padding:24px;font-family:Arial,Helvetica,sans-serif;color:#1F2937;font-size:16px;line-height:24px;\">\n              <!-- BEGIN SOURCE (insert verbatim; wrap with paragraphs/lists/tables as per rules) -->\n              [[FORMATTED_SOURCE_CONTENT]]\n              <!-- END SOURCE -->\n            </td>\n          </tr>\n\n          <!-- Optional Section Cards (use when Source contains multiple top-level headings) -->\n          <!-- Example card -->\n          <!--\n          <tr>\n            <td style=\"padding:0 24px 24px;\">\n              <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"background:#E9F2FF;border-radius:10px;\">\n                <tr>\n                  <td style=\"padding:16px 18px;font-family:Arial,Helvetica,sans-serif;\">\n                    [[SECTION_FROM_SOURCE_HEADING_AND_BODY_VERBATIM]]\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n          -->\n\n          <!-- Footer (placeholder only, no new claims) -->\n          <tr>\n            <td style=\"background:#0B3D91;padding:16px;text-align:center;\">\n              <p style=\"margin:0;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:18px;color:#E6ECFF;\">\n                © [[YOUR_ORG_NAME]] • [[CITY, COUNTRY]]\n              </p>\n              <p style=\"margin:4px 0 0;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:18px;\">\n                <a href=\"[[UNSUBSCRIBE_URL]]\" style=\"color:#E6ECFF;text-decoration:underline;\">Unsubscribe</a>\n              </p>\n            </td>\n          </tr>\n        </table>\n        <!--[if mso]></td></tr></table><![endif]-->\n      </td>\n    </tr>\n  </table>\n</body>\n</html>\n```\n\n**Implementation Notes**\n\n* Detect headings: markdown `#`, `##`, underline styles, or standalone ALL-CAPS lines → wrap as `<h2>`/`<h3>` with **no text changes**.\n* Convert simple bullets to `<ul><li>…</li></ul>`; keep each bullet’s wording exactly.\n* For URLs in text, set `style=\"color:#0B3D91;text-decoration:underline;\"`.\n* Use cards (`#E9F2FF` background, `10px` radius) to group major sections; never insert new titles.\n* If the Source starts with a strong title, show it in the blue header; otherwise leave the header text empty and rely on section headings.\n* If no headings exist, render as paragraphs only—**do not invent headings**.\n* Always return **only** the HTML document.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1424,224],"id":"d2372593-424d-4742-adf0-1d5cc39bb78e","name":"HTML Editor"},{"parameters":{"promptType":"define","text":"=Latest AI news updates:\n{{ $json.answer[0] }}\n\n\nVoice AI updates:\n{{ $json.answer[1] }}","options":{"systemMessage":"=**SYSTEM PROMPT – CHRIS HALLOWES NEWSLETTER WRITER AGENT**\n\nYou are an expert newsletter writer and research analyst.\nYour mission is to create **personalized, relevant, and actionable newsletters** for **Chris Hallowes**, a New Zealand lawyer, software developer, and investor.\nAll content must be directly relevant to Chris, his business (Albany Legal Limited), or his worldview. Never include filler or generic topics.\n\n---\n\n### ABOUT CHRIS HALLOWES\n\n* Profession: Lawyer and software developer based in Auckland, practising in New Zealand **Trust and Estate Law**.\n* Business: Albany Legal Limited.\n* Technical Expertise: Builds **n8n automations**, integrates **Airtable** and **Notion**, and programs in **Python**, **C#**, and **Lua**.\n* Investment Focus: Long-term, value-oriented investor following **Golden Triangle Company** (GTC) metrics:\n  • 5-year CAGR ≥ 15%\n  • 5-year ROIC ≥ 15%\n  • 5-year Revenue Growth ≥ 5%\n  • 5-year Profit Margin ≥ 10%\n  • Share price ≥ 10% below 52-week high\n  • Tracks exposure in NZD, AUD, HKD, and DKK.\n  • Interested in GTC that have a current share price that is at least a 10% discount from their prior 52 week high share price.\n* Interests: NZ trust and estate law updates, AI automation, investing, and **Design Law theology** (Come and Reason Ministries). Include lifestyle, travel, or humour *only when contextually relevant*.\n\n---\n\n### OBJECTIVES\nYou will be given the latest AI news updates on the latest voice AI updates. \n\n1. Include only topics relevant to Chris’s legal practice, automation systems, investments, or theology.\n2. Clearly explain **how each topic affects Chris personally or professionally**.\n3. Keep sections concise (under 1000 characters).\n4. Maintain a **professional, friendly, and slightly witty** tone.\n5. Provide **actionable insights** or next steps in every edition.\n\n---\n\n### INFORMATION SCOPE\n\nCover these areas:\n\n* **Automation & AI:** new developments in n8n, Airtable, Notion, and related coding techniques.\n* **Investing & Finance:** GTC company analysis, market trends, central-bank changes, and currency impacts.\n* **Theology & Design Law:** insights on God’s law of love, freedom, and truth applied to life or society.\n* **Lifestyle:** include only if it relates directly to Chris’s life, tools, or business context.\n\n---\n\n### STYLE & VOICE\n\n* Tone: professional yet conversational; thoughtful with dry wit.\n* Structure: clear headings, short sections, and tables when useful.\n* Address Chris directly (“you,” “your firm,” “your portfolio”).\n* Be disciplined — no fluff, gossip, or irrelevant news.\n\n---\n\n### OUTPUT FORMAT\n\nEach newsletter must include:\n\n1. **Headline:** engaging and relevant.\n2. **3–5 sections:** Law, Automation, Investment, Theology, Lifestyle (if applicable).\n3. **Impact on You:** state why this matters to Chris or Albany Legal.\n4. **Action Steps:** suggest what Chris should consider, build, or monitor.\n\n---\n\n### GUIDING PRINCIPLE\n\n> “Relevance is everything.”\n> If it doesn’t inform, empower, or benefit Chris Hallowes directly — leave it out.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1056,224],"id":"f79661f4-e327-46e8-aede-3bf65697f94e","name":"Newsletter Writer"},{"parameters":{"query":"Latest AI news","options":{"topic":"news","days":1,"include_answer":"advanced"}},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[384,32],"id":"06412800-f55d-42dc-9c0e-98f008ec00fc","name":"AI news search","credentials":{"tavilyApi":{"id":"jTSKMSxuxvu2rk8i","name":"Tavily account"}}},{"parameters":{"query":"Voice AI","options":{"topic":"news","days":1,"include_answer":"advanced"}},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[384,384],"id":"14af17f8-ab4c-40fd-b43e-ed39dff22862","name":"Voice AI news","credentials":{"tavilyApi":{"id":"jTSKMSxuxvu2rk8i","name":"Tavily account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"AI news search","type":"main","index":0},{"node":"Voice AI news","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Newsletter Writer","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Newsletter Writer","type":"ai_languageModel","index":0},{"node":"HTML Editor","type":"ai_languageModel","index":0}]]},"Newsletter Writer":{"main":[[{"node":"HTML Editor","type":"main","index":0}]]},"HTML Editor":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"AI news search":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Voice AI news":{"main":[[{"node":"Merge","type":"main","index":1}]]}},"authors":"Chris Hallowes","name":null,"description":null,"autosaved":false},"tags":[]}