20260104/AlbanyLegal-Attachment-Processor.json
{"updatedAt":"2025-11-29T02:51:28.050Z","createdAt":"2025-11-29T02:51:28.050Z","id":"CzIfiZ34D2RwZRGN","name":"AlbanyLegal Attachment Processor","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":10,"unit":"minutes"}]},"output":"raw","filters":{"hasAttachments":true,"readStatus":"both"},"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.microsoftOutlookTrigger","typeVersion":1,"position":[-1472,176],"id":"a35cf629-a0d6-47d5-819c-77986f0c68a8","name":"Microsoft Outlook Trigger"},{"parameters":{"method":"POST","url":"https://webhook.site/dcc459e3-f84f-40f0-aa35-5fc0bebd933f","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"File","inputDataFieldName":"pdf"},{"name":"FileName","value":"={{ $json.FileName }}"},{"name":"MatterNo","value":"={{ $json.MatterNo }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[752,144],"id":"d185d917-52dd-4189-90b6-fda929e8a308","name":"HTTP Request"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[336,144],"id":"fe15934a-8796-4f15-8885-98311d1d21c8","name":"Merge","alwaysOutputData":true,"executeOnce":true},{"parameters":{"jsCode":"// safer getters\nconst title    = $input.item.json?.content?.[0]?.text ?? 'document';\nconst matterNo = $('Microsoft Outlook Trigger').first().json.subject ?? '';\n\n// prefer whatever binary arrived on the incoming item (from Set/Outlook)\nconst inBin = $input.item.binary || {};\nconst firstKey = Object.keys(inBin)[0];\nlet pdf = firstKey ? inBin[firstKey] : null;\n\n// fallback: pull from Outlook trigger if merge branch didn’t carry binary\nif (!pdf) {\n  pdf = $('Microsoft Outlook Trigger').first().binary?.attachment_0 || null;\n}\nif (!pdf) {\n  throw new Error('No PDF binary found on input or Outlook.');\n}\n\n// (optional) rename file\npdf.fileName = (pdf.fileName && pdf.fileName.endsWith('.pdf')) ? pdf.fileName : `${title}.pdf`;\n\nreturn {\n  json: { FileName: title, MatterNo: matterNo },\n  binary: { pdf }   // <-- MUST be an object of key -> binary\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[528,144],"id":"761f45a8-80cf-4db8-868b-3e9f4797db29","name":"Code in JavaScript"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"150sHymYKVRGdJB5GNAnXM-oOx1H5bEYQbsjs3kwJasY","mode":"list","cachedResultName":"OLScans","cachedResultUrl":"https://docs.google.com/spreadsheets/d/150sHymYKVRGdJB5GNAnXM-oOx1H5bEYQbsjs3kwJasY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/150sHymYKVRGdJB5GNAnXM-oOx1H5bEYQbsjs3kwJasY/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"MatterNo":"={{ $('Code in JavaScript').item.json.MatterNo }}","DocName":"={{ $('Code in JavaScript').item.json.FileName }}","MessageID":"={{ $json.id.trim().toLowerCase() }}","Date":"={{ (() => { const d = new Date(); const pad = n => String(n).padStart(2, '0'); return pad(d.getFullYear()) + pad(d.getMonth() + 1) + pad(d.getDate()) + ':' + pad(d.getHours()) + ':' + pad(d.getMinutes()) + ':' + pad(d.getSeconds()); })() }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MatterNo","displayName":"MatterNo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DocName","displayName":"DocName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MessageID","displayName":"MessageID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1200,144],"id":"067a40ed-ed35-4e47-8bb8-5919796076c4","name":"Append row in sheet","disabled":true},{"parameters":{"resource":"document","modelId":{"__rl":true,"value":"claude-haiku-4-5-20251001","mode":"list","cachedResultName":"claude-haiku-4-5-20251001"},"text":"=Read the PDF and extract a suitable name for the document. If it contains the word Resolution or Resolutions then \"Resolution\" should be in the title.\nIf it contains the word Deed then \"Deed\" should be in the title.\nIf the client name or the name of a trust is present, ignore that.\nIt should be brief. do not give an explanation, just a name for this document.\n## Examples\nSmith Family Trust Resolution of Trustees should just be Resolution of Trustees\nResolution of Trustees\nDeed of Forgiveness of Debt\nDeed of Gift\nTrust Deed\n","inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[192,0],"id":"6b9f9073-3fd6-446d-a196-e6edb5bbc8af","name":"Extract Doc Name"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"de39dfc4-4d6e-4559-9664-f2cec936a4d5","leftValue":"={{ $node[\"Microsoft Outlook Trigger\"].binary.attachment_0.mimeType }}","rightValue":"=application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-240,144],"id":"5b7f1bb4-4b3c-4d4a-8f4e-d1407980d964","name":"Is a PDF attachment"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"de2757d4-e403-468a-b0af-c9dcd79a9ed3","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-448,160],"id":"15250cae-c32d-485a-8980-5f97dac9b6f6","name":"If"},{"parameters":{"documentId":{"__rl":true,"value":"150sHymYKVRGdJB5GNAnXM-oOx1H5bEYQbsjs3kwJasY","mode":"list","cachedResultName":"OLScans","cachedResultUrl":"https://docs.google.com/spreadsheets/d/150sHymYKVRGdJB5GNAnXM-oOx1H5bEYQbsjs3kwJasY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/150sHymYKVRGdJB5GNAnXM-oOx1H5bEYQbsjs3kwJasY/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"col_1","lookupValue":"1"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1232,176],"id":"ca9267f6-0c97-4dfa-a8c3-a8646d90a106","name":"Look for duplicate message","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"75439603-0cbf-4fa7-8cac-363842c43999","leftValue":"={{ $json.found }}","rightValue":"false","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-640,176],"id":"f11b92ac-7a7b-4621-8079-2c64843b8915","name":"a New PDF"},{"parameters":{"assignments":{"assignments":[{"id":"05bac1ec-8d7c-4f28-8187-846eb3466586","name":"=found","value":"={{ Object.keys($json).length > 0 }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-976,176],"id":"46c363f1-f5c4-4691-9aed-ad7bca7fdc50","name":"FlagFound"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Add a new field called 'myNewField' to the JSON of the item\nitem.binary = item.binary || {};\nitem.binary.data = $node[\"Microsoft Outlook Trigger\"].binary.attachment_0;\nreturn item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"112120fc-383f-4b60-8caa-65536857d6a1","name":"pass pdf file"},{"parameters":{"operation":"move","messageId":{"__rl":true,"value":"={{ $('Microsoft Outlook Trigger').item.json.id }}","mode":"id"},"folderId":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.microsoftOutlook","typeVersion":2,"position":[944,144],"id":"6e035d0e-88f8-48a8-95d6-1e1f728ff502","name":"Move a message","webhookId":"e3dd7903-247b-45de-9b5b-4a756ea0e4e6","disabled":true}],"connections":{"Microsoft Outlook Trigger":{"main":[[{"node":"Look for duplicate message","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Move a message","type":"main","index":0}]]},"Extract Doc Name":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Is a PDF attachment":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"pass pdf file","type":"main","index":0}]]},"If":{"main":[[{"node":"Is a PDF attachment","type":"main","index":0}]]},"Look for duplicate message":{"main":[[{"node":"FlagFound","type":"main","index":0}]]},"a New PDF":{"main":[[{"node":"If","type":"main","index":0}]]},"FlagFound":{"main":[[{"node":"a New PDF","type":"main","index":0}]]},"pass pdf file":{"main":[[{"node":"Extract Doc Name","type":"main","index":0}]]},"Move a message":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ecfd6327-397b-49c6-a402-3e9b519f3d17","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-11-29T02:51:28.053Z","createdAt":"2025-11-29T02:51:28.053Z","role":"workflow:owner","workflowId":"CzIfiZ34D2RwZRGN","projectId":"7NnPkzRru2w1cpBr"}],"activeVersion":null,"tags":[]}