20260104/Email-Labelling-Agent.json
{"updatedAt":"2025-12-08T01:39:35.000Z","createdAt":"2025-11-29T03:01:43.269Z","id":"8YENlBC8xEuiXrDY","name":"Email Labelling Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":10,"unit":"minutes"}]},"simple":false,"filters":{},"options":{}},"id":"103426fb-2380-46d1-9ac0-ffefd2bbe2f2","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.1,"position":[-288,384],"credentials":{"gmailOAuth2":{"id":"61LNgnvGJKWVxNGN","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_3294538948721148189"]},"id":"fc4c2f1a-cc13-422b-a711-0465f1892ecc","name":"Others","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[544,608],"webhookId":"3f84b3a9-7a56-417f-9332-bfee293766b0","credentials":{"gmailOAuth2":{"id":"61LNgnvGJKWVxNGN","name":"Gmail account"}}},{"parameters":{"content":"## I'm your personal email AI Labeling Agent :)\n\n### I will organize your inbox by labeling all incoming emails into predefined labels to save you time. ","height":223.59369296517087,"width":407.40000000000003,"color":5},"id":"b635d35a-edfe-4090-b2fa-b3a7d63709e3","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"inputText":"={{ $json.text }}","categories":{"categories":[{"category":"Spam","description":"Emails that offer stuff that appears to be spam. This will include GrabOne offers."},{"category":"Investing","description":"Emails that are from WealthGen Investor or Trading Mastery. This also include emails giving Stock Discounts, Chew the Fat, Market Updates, or are from Andrew Barnett. It also includes emails that are Daily Trade Reports or has 'Market Update' in the email subject."},{"category":"Purchases_Receipts","description":"Emails that appear to be about purchases I have made or receipts for the purchases I have made."},{"category":"Other","description":"All others emails that do not match the description of previous labels. "},{"category":"AI_Automations","description":"Emails from AI Automation Society, or other AI related emails."},{"category":"Reply","description":"Determine a this email requires me to reply to it.  If so then then mark it as requiring a reply."}]},"options":{"systemPromptTemplate":"=Please classify the text provided by the user into one of the categories provided. If you cannot determine the category to be used then default it to the 'Other' category.\nIf the Subject is 'Unsubscribe' then igore the email and do nothing"}},"id":"444f76c6-6178-4a24-8d42-71ab3ec894c6","name":"Labeling AI Agent","type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[112,320]},{"parameters":{"model":"gpt-5-nano","options":{}},"id":"0f506c1e-56cb-40fa-aa2e-cf3a86c59f22","name":"chatGPT 5 mini","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[0,624]},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["SPAM"]},"id":"4a3ac671-cbd4-4947-a384-f926aabdb11a","name":"Spam","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[544,80],"webhookId":"91478e56-192c-45f6-ab1f-dd774de83d34","credentials":{"gmailOAuth2":{"id":"61LNgnvGJKWVxNGN","name":"Gmail account"}},"disabled":true},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_34"]},"id":"9d79b2ca-cbc5-4f7b-a956-56184e01f517","name":"Investing","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[544,256],"webhookId":"f25a235c-774e-464e-bc6e-5b168f35876a","credentials":{"gmailOAuth2":{"id":"61LNgnvGJKWVxNGN","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_7928830508184749955"]},"id":"848971b6-7bd9-4ae7-a38d-daddc847e3db","name":"Purchase Receipts","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[544,432],"webhookId":"37b2667b-0371-4be6-a60e-b5f9bc1fe571","credentials":{"gmailOAuth2":{"id":"61LNgnvGJKWVxNGN","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_29"]},"id":"cb43101b-5606-4a80-8e14-1058278286ce","name":"AI Automations","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[544,800],"webhookId":"3f84b3a9-7a56-417f-9332-bfee293766b0","credentials":{"gmailOAuth2":{"id":"61LNgnvGJKWVxNGN","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_2476636834875974344"]},"id":"d6f836a2-0226-4bbe-bd37-5790c422851f","name":"Reply to","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[560,992],"webhookId":"3f84b3a9-7a56-417f-9332-bfee293766b0","credentials":{"gmailOAuth2":{"id":"61LNgnvGJKWVxNGN","name":"Gmail account"}}}],"connections":{"Gmail Trigger":{"main":[[{"node":"Labeling AI Agent","type":"main","index":0}]]},"Labeling AI Agent":{"main":[[{"node":"Spam","type":"main","index":0}],[{"node":"Investing","type":"main","index":0}],[{"node":"Purchase Receipts","type":"main","index":0}],[{"node":"Others","type":"main","index":0}],[{"node":"AI Automations","type":"main","index":0}],[{"node":"Reply to","type":"main","index":0}]]},"chatGPT 5 mini":{"ai_languageModel":[[{"node":"Labeling AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1e6a089c-beac-42ce-8d4d-371225a8e904","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-11-29T03:01:43.270Z","createdAt":"2025-11-29T03:01:43.270Z","role":"workflow:owner","workflowId":"8YENlBC8xEuiXrDY","projectId":"7NnPkzRru2w1cpBr"}],"activeVersion":null,"tags":[]}