20260104/From-Zero-to-Inbox-Agent.json
{"updatedAt":"2025-12-08T01:17:09.000Z","createdAt":"2025-12-07T02:09:36.962Z","id":"DWsmsmZ39NMtggi0","name":"From Zero to Inbox Agent","active":false,"isArchived":true,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[896,320],"id":"6555358d-5e17-404a-987d-7de24a05b527","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"61LNgnvGJKWVxNGN","name":"Gmail account"}}},{"parameters":{"inputText":"=Subject: {{ $json.headers.subject }}\n\nBody: {{ $json.text }}","categories":{"categories":[{"category":"Customer Support","description":"Emails requesting help, troubleshooting, or guidance for a product or service. Usually describe issues like login errors, bugs, or malfunctioning features. Common keywords: error, issue, problem, help, access, support, fix, reset, troubleshoot."},{"category":"Finance/Billing","description":"Emails about payments, invoices, refunds, or subscriptions. The sender wants to confirm, dispute, or update financial details. Common keywords: invoice, payment, refund, billing, charge, subscription, renewal, receipt."},{"category":"High Priority","description":"Urgent or time-sensitive emails about critical issues or outages requiring immediate attention. Common keywords: urgent, ASAP, critical, outage, down, immediate, emergency, escalation."},{"category":"Promotion","description":"Marketing or sales-focused emails promoting offers, discounts, or new products. Tone is upbeat and persuasive. Common keywords: sale, offer, discount, promotion, new feature, upgrade, limited time, exclusive."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[1088,288],"id":"0fb5ee69-fbed-41a0-ae86-1f27a054518b","name":"Text Classifier"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1040,592],"id":"93d14176-726e-46e8-b066-138137209b5b","name":"GPT-4.1-mini","credentials":{"openRouterApi":{"id":"uQv2EiUT6dltWPpY","name":"OpenRouter account 2"}}},{"parameters":{"model":"anthropic/claude-3.7-sonnet","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1936,208],"id":"5fecea67-c4f9-4ed2-9eef-20ca0d2ca99a","name":"Claude 3.7","credentials":{"openRouterApi":{"id":"uQv2EiUT6dltWPpY","name":"OpenRouter account 2"}}},{"parameters":{"promptType":"define","text":"=Subject: {{ $('Gmail Trigger').item.json.headers.subject }}\n\nBody: {{ $('Gmail Trigger').item.json.text }}","options":{"systemMessage":"=You are Nate's AI Assistant — an expert, friendly, and professional customer support representative for **AI Automation Society**.\n\nYour role:\n- Respond clearly, concisely, and helpfully to member questions.\n- Always maintain a warm and approachable tone that reflects Nate Herk’s brand and community values.\n- Provide accurate information about AI Automation Society, its programs, challenges, and community rules.\n- If you do **not** know the answer or the query requires Nate’s direct input, politely tell the user to reach out to **nateherk88@gmail.com**.\n\nAlways sign off every message with:\n– Nate’s AI Assistant\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1696,32],"id":"1e95d628-3be3-40bb-875c-113115a194be","name":"Customer Support Agent"},{"parameters":{"operation":"reply","messageId":"={{ $('Gmail Trigger').item.json.id }}","emailType":"text","message":"={{ $json.output }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1984,32],"id":"0aedee4c-215b-4981-9179-74f1dc277fe1","name":"Reply to a message","webhookId":"66b6ddd9-e93d-4182-8a22-52481b02bbc4","credentials":{"gmailOAuth2":{"id":"61LNgnvGJKWVxNGN","name":"Gmail account"}}},{"parameters":{"sendTo":"billing@example.com","subject":"=New Billing Email: {{ $('Gmail Trigger').item.json.from.value[0].name }}","emailType":"text","message":"=Hey Billing team!\n\nWe received a new billing inquiry at {{ $now.format('yyyy-MM-dd hh:mm a') }}.\n\nIt is from {{ $('Gmail Trigger').item.json.from.value[0].name }} you can email them at {{ $('Gmail Trigger').item.json.from.value[0].address }}.\n\nThis is the subject of their email: {{ $('Gmail Trigger').item.json.subject }}\n\nCheers!","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1696,192],"id":"c7717cd6-bb3d-44d7-bdf9-7b17c08933e4","name":"Send a message","webhookId":"70ecf5b5-0b1b-4758-aae4-cb90d0bc5574","credentials":{"gmailOAuth2":{"id":"61LNgnvGJKWVxNGN","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $('Gmail Trigger').item.json.id }}","labelIds":["Label_1594706753190197855"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1488,32],"id":"83c6d2aa-34a2-4365-8e7c-113f17b5f104","name":"Support","webhookId":"5eb54acc-bd46-44df-bd4b-35bbd9e2797b","credentials":{"gmailOAuth2":{"id":"61LNgnvGJKWVxNGN","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $('Gmail Trigger').item.json.id }}","labelIds":["Label_3029742840171510077"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1488,192],"id":"e4947f68-7cf6-4a18-a2a8-6bd3ec8c0ffa","name":"Finance","webhookId":"5eb54acc-bd46-44df-bd4b-35bbd9e2797b","credentials":{"gmailOAuth2":{"id":"61LNgnvGJKWVxNGN","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $('Gmail Trigger').item.json.id }}","labelIds":["Label_8750970712842772917"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1488,352],"id":"9604c6c6-02aa-4d11-80e4-d789b3c7e353","name":"Priority","webhookId":"5eb54acc-bd46-44df-bd4b-35bbd9e2797b","credentials":{"gmailOAuth2":{"id":"61LNgnvGJKWVxNGN","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $('Gmail Trigger').item.json.id }}","labelIds":["Label_1276623808023834907"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1488,528],"id":"a78cc020-0aa6-44dd-b30d-9e89a4e9a442","name":"Promotion","webhookId":"5eb54acc-bd46-44df-bd4b-35bbd9e2797b","credentials":{"gmailOAuth2":{"id":"61LNgnvGJKWVxNGN","name":"Gmail account"}}},{"parameters":{"promptType":"define","text":"=Subject:{{ $('Gmail Trigger').item.json.headers.subject }}\n\nBody:{{ $('Gmail Trigger').item.json.text }}\n","options":{"systemMessage":"=You are Mr. Doomsday — an expert but brutally honest and rude customer support representative for **AI Automation Society**.\n\nYour role:\n- Respond with accurate information, but do so in a sarcastic, blunt, and unapologetically rude tone.\n- Never sugarcoat answers. If someone asks something obvious, make it clear they should’ve known better.\n- Keep responses short, direct, and dripping with attitude — but still correct.\n- If you don’t know the answer or it requires Nate’s direct input, tell the user (in your signature rude style) to contact **nateherk88@gmail.com**.\n\nAlways sign off every message with:\n– Mr. Doomsday\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1696,352],"id":"b7f481c6-a5bb-4d44-a168-334c13ce8c06","name":"Mr. Doomsday"},{"parameters":{"resource":"draft","subject":"test","message":"={{ $json.output }}","options":{"threadId":"={{ $('Gmail Trigger').item.json.threadId }}","sendTo":"={{ $('Gmail Trigger').item.json.from.value[0].address }}"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1984,352],"id":"23e0014b-1da4-42dc-ba48-4c6c0b356184","name":"Create a draft","webhookId":"e73b5b5b-5596-4209-ad5f-01da1c507ac3","credentials":{"gmailOAuth2":{"id":"61LNgnvGJKWVxNGN","name":"Gmail account"}}},{"parameters":{"operation":"markAsRead","messageId":"={{ $('Gmail Trigger').item.json.id }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1696,528],"id":"1b94bbe9-cd0d-4999-9043-9a943b43681e","name":"Mark a message as read","webhookId":"44be72e9-332f-4098-b051-8847a8278df4","credentials":{"gmailOAuth2":{"id":"61LNgnvGJKWVxNGN","name":"Gmail account"}}},{"parameters":{"content":"# 🛠️ Setup Guide  \n**Author:** [Nate Herk](https://www.youtube.com/@nateherk)\n\nFollow these steps to get your Gmail automation up and running:\n\n### ✅ Step 1: Connect Your Gmail Account  \nMake sure your Gmail account is properly connected to all **Gmail nodes** in the workflow.\n\n### ✅ Step 2: Connect Your [OpenRouter](https://openrouter.ai/) Credential  \nLink your OpenRouter API key to power the **AI nodes**—this enables smart label classification.\n\n### ✅ Step 3: Set Up Gmail Labels  \nInside your **Gmail inbox**, create or identify the labels you want the automation to recognize.\n\n### ✅ Step 4: Define Labels in the Text Classifier  \nUpdate the **Text Classifier node** with the same labels you've set in Gmail so it knows how to categorize messages.\n\n### ✅ Step 5: Match Labels in Label Nodes  \nEnsure each **Label node** uses the exact names of the Gmail labels—this step is crucial for correct routing.\n\n### ✅ Step 6: Customize the Action for Each Label  \nDecide what should happen for each label. Options include:\n- Sending a message\n- Triggering a notification\n- Marking the email as read\n- Or any other custom action\n\n### 💡 Final Step: Test the Flow  \nSend a few test emails and watch the automation kick in based on the label logic you’ve set up.\n","height":768,"width":816},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"8472828c-f3a9-4dbe-a925-4e79bbfeb1f6","name":"Sticky Note"}],"connections":{"Gmail Trigger":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Text Classifier":{"main":[[{"node":"Support","type":"main","index":0}],[{"node":"Finance","type":"main","index":0}],[{"node":"Priority","type":"main","index":0}],[{"node":"Promotion","type":"main","index":0}]]},"GPT-4.1-mini":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Claude 3.7":{"ai_languageModel":[[{"node":"Customer Support Agent","type":"ai_languageModel","index":0},{"node":"Mr. Doomsday","type":"ai_languageModel","index":0}]]},"Customer Support Agent":{"main":[[{"node":"Reply to a message","type":"main","index":0}]]},"Support":{"main":[[{"node":"Customer Support Agent","type":"main","index":0}]]},"Finance":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Priority":{"main":[[{"node":"Mr. Doomsday","type":"main","index":0}]]},"Mr. Doomsday":{"main":[[{"node":"Create a draft","type":"main","index":0}]]},"Promotion":{"main":[[{"node":"Mark a message as read","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"e579f09e-a17a-41c9-90f6-87dd5484d67c","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-07T02:09:36.967Z","createdAt":"2025-12-07T02:09:36.967Z","role":"workflow:owner","workflowId":"DWsmsmZ39NMtggi0","projectId":"7NnPkzRru2w1cpBr"}],"activeVersion":null,"tags":[]}