20260104/Idea-Catcher.json
{"updatedAt":"2025-12-27T20:10:41.188Z","createdAt":"2025-12-23T22:13:15.189Z","id":"8YpfuldOVbNPeSoB","name":"Idea Catcher","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1152,-48],"id":"2013554d-3226-4e3f-bffa-15595c21fe9d","name":"Telegram Trigger","webhookId":"c6102d53-c094-41a6-828b-e04bba6b572b","credentials":{"telegramApi":{"id":"zZnLjGklbblacZ6S","name":"Telegram Idea WF"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"id":"8f9f9b5f-8ff6-49ba-9d75-587c84f41055","name":"Download Voice File","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-528,-64],"webhookId":"c0b376b1-7b63-41b6-8063-0b3096b8333d","credentials":{"telegramApi":{"id":"zZnLjGklbblacZ6S","name":"Telegram Idea WF"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"5d383313-88fc-4cca-ae4f-3e0d432e1e42","name":"Transcribe Audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-304,-64],"credentials":{"openAiApi":{"id":"H150YmQZWV60PC3D","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"976cf2c9-01b6-46cf-97b4-675a67ca57bc","name":"input","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-96,-64],"id":"2a7fa522-911d-4f56-bfc0-d86bfd0d4744","name":"Input"},{"parameters":{"jsCode":"// add security so only I can use the bot\nif ($input.first().json.message.from.id !== 7217020342) {\n  return {unauthorized: true};\n} else {\nreturn $input.all();\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-928,-48],"id":"11a87123-00a4-4df6-a61b-3b468673c922","name":"Authorised?"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"id":"ba4343c7-72bb-4bfb-8f1e-d8f4aecebd8a","name":"voice or text","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-752,-48]},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=An email has been sent to you with the note/idea.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[880,-160],"id":"707e1973-6151-4b12-93a4-3cf091d0e09d","name":"Response","webhookId":"4d174459-d5cc-4297-a449-369d3f10ef23","credentials":{"telegramApi":{"id":"zZnLjGklbblacZ6S","name":"Telegram Idea WF"}}},{"parameters":{"promptType":"define","text":"={{ $json.input }}","options":{"systemMessage":"=# Overview\nYou are an assistant whose only job is to turn rough, spoken-style dictation into a clear, logically structured idea note that is ready to be emailed to the user. You do not send emails yourself and you do not call tools – you only rewrite and structure the text you receive. The dictated note could be a todo list.\n\n# Input\nYou will receive raw text that was dictated by voice (often via Telegram). It may:\n- Lack punctuation or proper sentence boundaries\n- Contain filler words (“um”, “you know”, “okay”, etc.)\n- Jump around in order or repeat itself\n- Contain partial thoughts that need light restructuring\n\nAssume all content belongs to a single “idea note”, though it may contain several related sub-ideas.\n\n# Task\n1. Understand the user’s intent and main idea(s).\n2. Clean up grammar, punctuation, and spelling.\n3. Remove filler words and obvious repetition.\n4. Reorder sentences or points slightly to make the idea more logical and coherent.\n5. Keep the meaning, nuance, and first-person voice of the user.\n6. Do NOT add new content, arguments, or facts that were not implied by the original dictation.\n\n# Output format\nAlways respond in **exactly** this format and nothing else:\n\nSubject: <a short, descriptive subject line (5–12 words) capturing the core idea>\n\nBody:\n<one to three short paragraphs that clearly express the idea, followed by bullet points only if they help clarity. Keep it concise, focused, and email-ready. No greeting, no sign-off.>\n\n# Style rules\n- Be concise and professional but natural, as if the user wrote it thoughtfully in their own voice.\n- Prefer short sentences and clear structure over long, complex phrasing.\n- If there are multiple distinct sub-ideas, separate them with short headings or bullet points inside the Body, not separate emails.\n- If there is a tsks list then make each one a separate bullet point.\n\n# Final reminders\n- Do NOT mention that this was dictated or transcribed.\n- Do NOT explain what you did.\n- Output ONLY the “Subject:” line and the “Body:” section in the format above.\n\n","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[128,-64],"id":"0eba705a-7fd6-4ed0-acb7-b51eec7c6023","name":"AI Agent","onError":"continueErrorOutput"},{"parameters":{"model":"deepseek/deepseek-v3.2","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[128,240],"id":"44f8740d-463f-4380-850e-3c90b6dc57cc","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"O1IOlfjaoT82GIMR","name":"OpenRouter account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[432,256],"id":"77d31f7a-8d5d-4066-aed1-f6203a086303","name":"Think"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[288,256],"id":"648ebfec-effa-4000-8697-ab473dd6bc3a","name":"Simple Memory"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.error }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[608,32],"id":"6064a1cf-a2d0-44a2-9729-10cf7c86cbef","name":"Error Message","webhookId":"7065a160-b927-43b6-b327-feec46cc0088","credentials":{"telegramApi":{"id":"zZnLjGklbblacZ6S","name":"Telegram Idea WF"}}},{"parameters":{"jsCode":"// Initialize the output arrays\nconst steps = [];\nconst tokens = [];\nlet totalTokens = 0; // Changed to track total tokens instead of cost\n\n// Process each item in the input\nfor (const item of $input.all()) {\n  let data = item.json;\n  \n  // Check if the data is an array itself (like your example JSON)\n  if (Array.isArray(data)) {\n    // Process each object in the array\n    for (const obj of data) {\n      // Extract steps information\n      if (obj.intermediateSteps && Array.isArray(obj.intermediateSteps)) {\n        for (const step of obj.intermediateSteps) {\n          if (step.action) {\n            steps.push({\n              tool: step.action.tool,\n              toolInput: step.action.toolInput,\n              observation: step.observation\n            });\n          }\n        }\n      }\n      \n      // Extract token information\n      if (obj.intermediateSteps && Array.isArray(obj.intermediateSteps)) {\n        for (const step of obj.intermediateSteps) {\n          if (step.action && step.action.messageLog && Array.isArray(step.action.messageLog)) {\n            for (const message of step.action.messageLog) {\n              if (message.kwargs && message.kwargs.response_metadata && message.kwargs.response_metadata.usage) {\n                const usage = message.kwargs.response_metadata.usage;\n                tokens.push({\n                  prompt_tokens: usage.prompt_tokens,\n                  completion_tokens: usage.completion_tokens,\n                  total_tokens: usage.total_tokens,\n                  model_name: message.kwargs.response_metadata.model_name\n                });\n                \n                // Add the tokens to our running total\n                if (typeof usage.total_tokens === 'number') {\n                  totalTokens += usage.total_tokens;\n                }\n              }\n            }\n          }\n        }\n      }\n    }\n  } else {\n    // If data is not an array, process it as a single object\n    // Extract steps information\n    if (data.intermediateSteps && Array.isArray(data.intermediateSteps)) {\n      for (const step of data.intermediateSteps) {\n        if (step.action) {\n          steps.push({\n            tool: step.action.tool,\n            toolInput: step.action.toolInput,\n            observation: step.observation\n          });\n        }\n      }\n    }\n    \n    // Extract token information\n    if (data.intermediateSteps && Array.isArray(data.intermediateSteps)) {\n      for (const step of data.intermediateSteps) {\n        if (step.action && step.action.messageLog && Array.isArray(step.action.messageLog)) {\n          for (const message of step.action.messageLog) {\n            if (message.kwargs && message.kwargs.response_metadata && message.kwargs.response_metadata.usage) {\n              const usage = message.kwargs.response_metadata.usage;\n              tokens.push({\n                prompt_tokens: usage.prompt_tokens,\n                completion_tokens: usage.completion_tokens,\n                total_tokens: usage.total_tokens,\n                model_name: message.kwargs.response_metadata.model_name\n              });\n              \n              // Add the tokens to our running total\n              if (typeof usage.total_tokens === 'number') {\n                totalTokens += usage.total_tokens;\n              }\n            }\n          }\n        }\n      }\n    }\n  }\n}\n\n// Return the processed data with total_tokens included\nreturn [{\n  json: {\n    steps: steps,\n    tokens: tokens,\n    total_tokens: totalTokens\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,-400],"id":"37583fd1-7d14-4b1a-bd90-8d313d5d4304","name":"Clean Up"},{"parameters":{"sendTo":"chris@hallowes.com","subject":"={{ $json.subject }}","message":"={{ $json.body }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[672,-160],"id":"7d4e2b65-20db-4054-9c77-ba76e44c5179","name":"Send a message","webhookId":"9e18640f-7f9e-49a9-acf2-0364461f04fd","credentials":{"gmailOAuth2":{"id":"61LNgnvGJKWVxNGN","name":"Gmail account"}}},{"parameters":{"jsCode":"const txt = $json.output || '';\nconst m = txt.match(/Subject:\\s*(.*?)\\s*Body:\\s*([\\s\\S]*)/i);\n\nreturn [{\n  subject: m ? m[1].trim() : '',\n  body:    m ? m[2].trim() : txt,\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,-160],"id":"0368ec7d-ee87-4cbc-b99d-1ae0bbd7af1b","name":"format for email"},{"parameters":{"content":"This workflow captures voice notes from Telegram, uses AI to summaries them and then emails it back to me.\n\nConfigure the Telegram credential to listen to the correct BOT.","height":208,"width":528},"type":"n8n-nodes-base.stickyNote","position":[-1216,-416],"typeVersion":1,"id":"dc005806-19c9-44e1-8622-d5f6c30c6fe3","name":"Sticky Note"}],"connections":{"Download Voice File":{"main":[[{"node":"Transcribe Audio","type":"main","index":0}]]},"Transcribe Audio":{"main":[[{"node":"Input","type":"main","index":0}]]},"Authorised?":{"main":[[{"node":"voice or text","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Authorised?","type":"main","index":0}]]},"voice or text":{"main":[[{"node":"Download Voice File","type":"main","index":0}],[]]},"Input":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"format for email","type":"main","index":0}],[{"node":"Error Message","type":"main","index":0}]]},"Clean Up":{"main":[[]]},"format for email":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c7c0161c-7f73-4150-aac2-6b5de083dc77","activeVersionId":"c7c0161c-7f73-4150-aac2-6b5de083dc77","triggerCount":1,"shared":[{"updatedAt":"2025-12-23T22:13:15.194Z","createdAt":"2025-12-23T22:13:15.194Z","role":"workflow:owner","workflowId":"8YpfuldOVbNPeSoB","projectId":"7NnPkzRru2w1cpBr"}],"activeVersion":{"updatedAt":"2025-12-27T20:10:45.000Z","createdAt":"2025-12-27T20:10:41.192Z","versionId":"c7c0161c-7f73-4150-aac2-6b5de083dc77","workflowId":"8YpfuldOVbNPeSoB","nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1152,-48],"id":"2013554d-3226-4e3f-bffa-15595c21fe9d","name":"Telegram Trigger","webhookId":"c6102d53-c094-41a6-828b-e04bba6b572b","credentials":{"telegramApi":{"id":"zZnLjGklbblacZ6S","name":"Telegram Idea WF"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"id":"8f9f9b5f-8ff6-49ba-9d75-587c84f41055","name":"Download Voice File","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-528,-64],"webhookId":"c0b376b1-7b63-41b6-8063-0b3096b8333d","credentials":{"telegramApi":{"id":"zZnLjGklbblacZ6S","name":"Telegram Idea WF"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"5d383313-88fc-4cca-ae4f-3e0d432e1e42","name":"Transcribe Audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-304,-64],"credentials":{"openAiApi":{"id":"H150YmQZWV60PC3D","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"976cf2c9-01b6-46cf-97b4-675a67ca57bc","name":"input","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-96,-64],"id":"2a7fa522-911d-4f56-bfc0-d86bfd0d4744","name":"Input"},{"parameters":{"jsCode":"// add security so only I can use the bot\nif ($input.first().json.message.from.id !== 7217020342) {\n  return {unauthorized: true};\n} else {\nreturn $input.all();\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-928,-48],"id":"11a87123-00a4-4df6-a61b-3b468673c922","name":"Authorised?"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"id":"ba4343c7-72bb-4bfb-8f1e-d8f4aecebd8a","name":"voice or text","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-752,-48]},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=An email has been sent to you with the note/idea.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[880,-160],"id":"707e1973-6151-4b12-93a4-3cf091d0e09d","name":"Response","webhookId":"4d174459-d5cc-4297-a449-369d3f10ef23","credentials":{"telegramApi":{"id":"zZnLjGklbblacZ6S","name":"Telegram Idea WF"}}},{"parameters":{"promptType":"define","text":"={{ $json.input }}","options":{"systemMessage":"=# Overview\nYou are an assistant whose only job is to turn rough, spoken-style dictation into a clear, logically structured idea note that is ready to be emailed to the user. You do not send emails yourself and you do not call tools – you only rewrite and structure the text you receive. The dictated note could be a todo list.\n\n# Input\nYou will receive raw text that was dictated by voice (often via Telegram). It may:\n- Lack punctuation or proper sentence boundaries\n- Contain filler words (“um”, “you know”, “okay”, etc.)\n- Jump around in order or repeat itself\n- Contain partial thoughts that need light restructuring\n\nAssume all content belongs to a single “idea note”, though it may contain several related sub-ideas.\n\n# Task\n1. Understand the user’s intent and main idea(s).\n2. Clean up grammar, punctuation, and spelling.\n3. Remove filler words and obvious repetition.\n4. Reorder sentences or points slightly to make the idea more logical and coherent.\n5. Keep the meaning, nuance, and first-person voice of the user.\n6. Do NOT add new content, arguments, or facts that were not implied by the original dictation.\n\n# Output format\nAlways respond in **exactly** this format and nothing else:\n\nSubject: <a short, descriptive subject line (5–12 words) capturing the core idea>\n\nBody:\n<one to three short paragraphs that clearly express the idea, followed by bullet points only if they help clarity. Keep it concise, focused, and email-ready. No greeting, no sign-off.>\n\n# Style rules\n- Be concise and professional but natural, as if the user wrote it thoughtfully in their own voice.\n- Prefer short sentences and clear structure over long, complex phrasing.\n- If there are multiple distinct sub-ideas, separate them with short headings or bullet points inside the Body, not separate emails.\n- If there is a tsks list then make each one a separate bullet point.\n\n# Final reminders\n- Do NOT mention that this was dictated or transcribed.\n- Do NOT explain what you did.\n- Output ONLY the “Subject:” line and the “Body:” section in the format above.\n\n","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[128,-64],"id":"0eba705a-7fd6-4ed0-acb7-b51eec7c6023","name":"AI Agent","onError":"continueErrorOutput"},{"parameters":{"model":"deepseek/deepseek-v3.2","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[128,240],"id":"44f8740d-463f-4380-850e-3c90b6dc57cc","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"O1IOlfjaoT82GIMR","name":"OpenRouter account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[432,256],"id":"77d31f7a-8d5d-4066-aed1-f6203a086303","name":"Think"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[288,256],"id":"648ebfec-effa-4000-8697-ab473dd6bc3a","name":"Simple Memory"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.error }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[608,32],"id":"6064a1cf-a2d0-44a2-9729-10cf7c86cbef","name":"Error Message","webhookId":"7065a160-b927-43b6-b327-feec46cc0088","credentials":{"telegramApi":{"id":"zZnLjGklbblacZ6S","name":"Telegram Idea WF"}}},{"parameters":{"jsCode":"// Initialize the output arrays\nconst steps = [];\nconst tokens = [];\nlet totalTokens = 0; // Changed to track total tokens instead of cost\n\n// Process each item in the input\nfor (const item of $input.all()) {\n  let data = item.json;\n  \n  // Check if the data is an array itself (like your example JSON)\n  if (Array.isArray(data)) {\n    // Process each object in the array\n    for (const obj of data) {\n      // Extract steps information\n      if (obj.intermediateSteps && Array.isArray(obj.intermediateSteps)) {\n        for (const step of obj.intermediateSteps) {\n          if (step.action) {\n            steps.push({\n              tool: step.action.tool,\n              toolInput: step.action.toolInput,\n              observation: step.observation\n            });\n          }\n        }\n      }\n      \n      // Extract token information\n      if (obj.intermediateSteps && Array.isArray(obj.intermediateSteps)) {\n        for (const step of obj.intermediateSteps) {\n          if (step.action && step.action.messageLog && Array.isArray(step.action.messageLog)) {\n            for (const message of step.action.messageLog) {\n              if (message.kwargs && message.kwargs.response_metadata && message.kwargs.response_metadata.usage) {\n                const usage = message.kwargs.response_metadata.usage;\n                tokens.push({\n                  prompt_tokens: usage.prompt_tokens,\n                  completion_tokens: usage.completion_tokens,\n                  total_tokens: usage.total_tokens,\n                  model_name: message.kwargs.response_metadata.model_name\n                });\n                \n                // Add the tokens to our running total\n                if (typeof usage.total_tokens === 'number') {\n                  totalTokens += usage.total_tokens;\n                }\n              }\n            }\n          }\n        }\n      }\n    }\n  } else {\n    // If data is not an array, process it as a single object\n    // Extract steps information\n    if (data.intermediateSteps && Array.isArray(data.intermediateSteps)) {\n      for (const step of data.intermediateSteps) {\n        if (step.action) {\n          steps.push({\n            tool: step.action.tool,\n            toolInput: step.action.toolInput,\n            observation: step.observation\n          });\n        }\n      }\n    }\n    \n    // Extract token information\n    if (data.intermediateSteps && Array.isArray(data.intermediateSteps)) {\n      for (const step of data.intermediateSteps) {\n        if (step.action && step.action.messageLog && Array.isArray(step.action.messageLog)) {\n          for (const message of step.action.messageLog) {\n            if (message.kwargs && message.kwargs.response_metadata && message.kwargs.response_metadata.usage) {\n              const usage = message.kwargs.response_metadata.usage;\n              tokens.push({\n                prompt_tokens: usage.prompt_tokens,\n                completion_tokens: usage.completion_tokens,\n                total_tokens: usage.total_tokens,\n                model_name: message.kwargs.response_metadata.model_name\n              });\n              \n              // Add the tokens to our running total\n              if (typeof usage.total_tokens === 'number') {\n                totalTokens += usage.total_tokens;\n              }\n            }\n          }\n        }\n      }\n    }\n  }\n}\n\n// Return the processed data with total_tokens included\nreturn [{\n  json: {\n    steps: steps,\n    tokens: tokens,\n    total_tokens: totalTokens\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,-400],"id":"37583fd1-7d14-4b1a-bd90-8d313d5d4304","name":"Clean Up"},{"parameters":{"sendTo":"chris@hallowes.com","subject":"={{ $json.subject }}","message":"={{ $json.body }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[672,-160],"id":"7d4e2b65-20db-4054-9c77-ba76e44c5179","name":"Send a message","webhookId":"9e18640f-7f9e-49a9-acf2-0364461f04fd","credentials":{"gmailOAuth2":{"id":"61LNgnvGJKWVxNGN","name":"Gmail account"}}},{"parameters":{"jsCode":"const txt = $json.output || '';\nconst m = txt.match(/Subject:\\s*(.*?)\\s*Body:\\s*([\\s\\S]*)/i);\n\nreturn [{\n  subject: m ? m[1].trim() : '',\n  body:    m ? m[2].trim() : txt,\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,-160],"id":"0368ec7d-ee87-4cbc-b99d-1ae0bbd7af1b","name":"format for email"},{"parameters":{"content":"This workflow captures voice notes from Telegram, uses AI to summaries them and then emails it back to me.\n\nConfigure the Telegram credential to listen to the correct BOT.","height":208,"width":528},"type":"n8n-nodes-base.stickyNote","position":[-1216,-416],"typeVersion":1,"id":"dc005806-19c9-44e1-8622-d5f6c30c6fe3","name":"Sticky Note"}],"connections":{"Download Voice File":{"main":[[{"node":"Transcribe Audio","type":"main","index":0}]]},"Transcribe Audio":{"main":[[{"node":"Input","type":"main","index":0}]]},"Authorised?":{"main":[[{"node":"voice or text","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Authorised?","type":"main","index":0}]]},"voice or text":{"main":[[{"node":"Download Voice File","type":"main","index":0}],[]]},"Input":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"format for email","type":"main","index":0}],[{"node":"Error Message","type":"main","index":0}]]},"Clean Up":{"main":[[]]},"format for email":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Response","type":"main","index":0}]]}},"authors":"Chris Hallowes","name":"Version c7c0161c","description":"","autosaved":false},"tags":[]}