20260104/Sub-StockDiscount.json
{"updatedAt":"2025-12-07T02:17:51.000Z","createdAt":"2025-11-29T03:20:25.562Z","id":"3dEHN7AmSpaCIQbN","name":"Sub-StockDiscount","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1tSCFlBodcu9Twpr_fOjMFO2ftq-1NsY16oy0ip5YW1Y","mode":"list","cachedResultName":"n8nStockDiscountSheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tSCFlBodcu9Twpr_fOjMFO2ftq-1NsY16oy0ip5YW1Y/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"StockList","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tSCFlBodcu9Twpr_fOjMFO2ftq-1NsY16oy0ip5YW1Y/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $json.date }}","Discount":"={{ $json.discountPercentage }}","Symbol":"={{ $json.symbol }}"},"matchingColumns":["Symbol"],"schema":[{"id":"Symbol","displayName":"Symbol","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Discount","displayName":"Discount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[880,0],"id":"16e798e6-e9d2-4dc6-95af-baa8c0d9b8eb","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"vCuZUajyRk62001C","name":"Google Sheets account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"Symbol","type":"any"}]}},"id":"c8cdad90-7436-4d11-8270-2e5307d196a7","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[0,0]},{"parameters":{"url":"=https://query1.finance.yahoo.com/v8/finance/chart/{{ $json.Symbol }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"}]},"sendHeaders":true,"headerParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,0],"id":"41814b79-ad59-4ce1-9066-15655390fe5e","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"de1529c4-09d5-4cb8-898d-8081d82728c1","name":"symbol","value":"={{ $json.chart.result[0].meta.symbol }}","type":"string"},{"id":"3b688cb9-958b-4efa-b252-60e3f0d29eb2","name":"currentPrice","value":"={{ $json.chart.result[0].meta.regularMarketPrice }}","type":"number"},{"id":"fe673a3d-c0fb-4900-8b60-d7afa3b333a8","name":"52WeekHigh","value":"={{ $json.chart.result[0].meta.fiftyTwoWeekHigh }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,0],"id":"000a5b8a-b70d-4a39-bfe0-c04100134147","name":"Edit Fields"},{"parameters":{"jsCode":"// Get the input data\nconst symbol = $input.first().json.symbol;\nconst currentPrice = $input.first().json.currentPrice;\nconst fiftyTwoWeekHigh = $input.first().json[\"52WeekHigh\"];\n\n// Calculate percentage discount from 52-week high\nconst discount = ((fiftyTwoWeekHigh - currentPrice) / fiftyTwoWeekHigh) * 100;\n\n// Round to 2 decimal places\nconst discountPercentage = Math.round(discount * 100) / 100;\n\n// Get today's date in New Zealand format (dd-mm-yyyy)\nconst today = new Date().toLocaleDateString('en-NZ').replace(/\\//g, '-');\n\n// Return the result\nreturn [{\n  json: {\n    date: today,\n    symbol,\n    currentPrice: currentPrice,\n    fiftyTwoWeekHigh: fiftyTwoWeekHigh,\n    discountPercentage: discountPercentage,\n    discountAmount: fiftyTwoWeekHigh - currentPrice\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,0],"id":"0e9b7f29-5f99-4eee-9458-5b868adbfc29","name":"Code"}],"connections":{"Start":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Start":[{"json":{"Symbol":"NOVO.B"}}]},"versionId":"8a55d752-860f-4cbc-9d77-5bbec5f2ee20","activeVersionId":"8a55d752-860f-4cbc-9d77-5bbec5f2ee20","triggerCount":0,"shared":[{"updatedAt":"2025-11-29T03:20:25.564Z","createdAt":"2025-11-29T03:20:25.564Z","role":"workflow:owner","workflowId":"3dEHN7AmSpaCIQbN","projectId":"7NnPkzRru2w1cpBr"}],"activeVersion":{"updatedAt":"2025-12-07T02:17:51.817Z","createdAt":"2025-12-07T02:17:51.817Z","versionId":"8a55d752-860f-4cbc-9d77-5bbec5f2ee20","workflowId":"3dEHN7AmSpaCIQbN","nodes":[{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1tSCFlBodcu9Twpr_fOjMFO2ftq-1NsY16oy0ip5YW1Y","mode":"list","cachedResultName":"n8nStockDiscountSheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tSCFlBodcu9Twpr_fOjMFO2ftq-1NsY16oy0ip5YW1Y/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"StockList","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tSCFlBodcu9Twpr_fOjMFO2ftq-1NsY16oy0ip5YW1Y/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $json.date }}","Discount":"={{ $json.discountPercentage }}","Symbol":"={{ $json.symbol }}"},"matchingColumns":["Symbol"],"schema":[{"id":"Symbol","displayName":"Symbol","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Discount","displayName":"Discount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[880,0],"id":"16e798e6-e9d2-4dc6-95af-baa8c0d9b8eb","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"vCuZUajyRk62001C","name":"Google Sheets account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"Symbol","type":"any"}]}},"id":"c8cdad90-7436-4d11-8270-2e5307d196a7","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[0,0]},{"parameters":{"url":"=https://query1.finance.yahoo.com/v8/finance/chart/{{ $json.Symbol }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"}]},"sendHeaders":true,"headerParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,0],"id":"41814b79-ad59-4ce1-9066-15655390fe5e","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"de1529c4-09d5-4cb8-898d-8081d82728c1","name":"symbol","value":"={{ $json.chart.result[0].meta.symbol }}","type":"string"},{"id":"3b688cb9-958b-4efa-b252-60e3f0d29eb2","name":"currentPrice","value":"={{ $json.chart.result[0].meta.regularMarketPrice }}","type":"number"},{"id":"fe673a3d-c0fb-4900-8b60-d7afa3b333a8","name":"52WeekHigh","value":"={{ $json.chart.result[0].meta.fiftyTwoWeekHigh }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,0],"id":"000a5b8a-b70d-4a39-bfe0-c04100134147","name":"Edit Fields"},{"parameters":{"jsCode":"// Get the input data\nconst symbol = $input.first().json.symbol;\nconst currentPrice = $input.first().json.currentPrice;\nconst fiftyTwoWeekHigh = $input.first().json[\"52WeekHigh\"];\n\n// Calculate percentage discount from 52-week high\nconst discount = ((fiftyTwoWeekHigh - currentPrice) / fiftyTwoWeekHigh) * 100;\n\n// Round to 2 decimal places\nconst discountPercentage = Math.round(discount * 100) / 100;\n\n// Get today's date in New Zealand format (dd-mm-yyyy)\nconst today = new Date().toLocaleDateString('en-NZ').replace(/\\//g, '-');\n\n// Return the result\nreturn [{\n  json: {\n    date: today,\n    symbol,\n    currentPrice: currentPrice,\n    fiftyTwoWeekHigh: fiftyTwoWeekHigh,\n    discountPercentage: discountPercentage,\n    discountAmount: fiftyTwoWeekHigh - currentPrice\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,0],"id":"0e9b7f29-5f99-4eee-9458-5b868adbfc29","name":"Code"}],"connections":{"Start":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]}},"authors":"Chris Hallowes","name":null,"description":null,"autosaved":false},"tags":[]}